<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-3 d-none d-sm-block h-100">
            <%- include("./locations.ejs") %>
        </div>

        <div class="col h-100">
            <div class="right-content">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class=" card justify-content-center" style="color: #4B515D; border-radius: 35px;">
                        <div class="card-body p-4">

                            <div class="d-flex">
                                <h6 class="flex-grow-1">
                                    <%= weatherInfo.location %>
                                </h6>
                            </div>

                            <div class="d-flex flex-column text-center mt-5 mb-4">
                                <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;">
                                    <%= weatherInfo.temperature %>°C
                                </h6>
                                <span class="small" style="color: #868B94">
                                    <%= weatherInfo.description %>
                                </span>
                            </div>

                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1" style="font-size: 1rem;">
                                    <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                                            40 km/h
                                        </span></div>
                                    <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                                            84% </span>
                                    </div>
                                    <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                                            0.2h </span>
                                    </div>
                                </div>
                                <div>
                                    <img src="<%= weatherInfo.image %>" width="100px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>